<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../web/assets/login.css" />
  <link rel="shortcut icon" href="./assets/img/logo-easy.png" type="image/x-icon">
  <title>Easy Buy</title>
</head>

<body>
  <div id="app">

    <nav class="navAnimated text-white h-screen w-screen top-0 bg-blue-900 flex flex-col justify-center items-center"
      :style="{animationName: navActive ? 'moveIn' : navActive != null ? 'moveOut' : ''}">
      <div class="navAnimated w-min-screen flex flex-end"
        :style="{animationName: navActive ? 'moveIn' : navActive != null ? 'moveOut' : ''}">
        <div class="fixed px-4 py-2 m-2 bg-white text-black rounded-lg font-bold" @click="handleNavResponsive">X
        </div>
      </div>

      <a href="#" class="mt-10 hover:text-blue-300 cursor-pointer transition-all duration-[.3s]">
        Home
      </a>
      <p class="mt-10 hover:text-blue-300 mt-10 cursor-pointer transition-all duration-[.3s]">
        <div class="relative" data-te-dropdown-ref>
          <div class="cursor-pointer hover:text-blue-300" id="dropdownMenuButton1d"
            data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
            data-te-ripple-color="light">Categories</div>
          <ul
            class="pt-2 absolute z-[1000] gap-2 float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-blue-500 bg-clip-padding text-left text-base shadow-lg [&[data-te-dropdown-show]]:block"
            aria-labelledby="dropdownMenuButton1d" data-te-dropdown-menu-ref>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Tecnology">
                <h2>Technology</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Appliance">
                <h2>Appliance</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Furniture">
                <h2>Furniture</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Health">
                <h2>Health</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Audio">
                <h2>Audio</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Video">
                <h2>Video</h2>
              </a>
            </li>
            <li class="hover:bg-blue-900 py-1 px-2">
              <a href="./shop.html?filter=Kids">
                <h2>Kids</h2>
              </a>
            </li>
          </ul>
        </div>
      </p>
      <a href="./frecuents.html" class="mt-10 hover:text-blue-300 cursor-pointer transition-all duration-[.3s]">
        Frecuent Questions
      </a>
      <a href="./about-us.html" class="mt-10 hover:text-blue-300 cursor-pointer transition-all duration-[.3s]">
        About Us
      </a>
      <a href="./form.html" class="mt-10 hover:text-blue-300 cursor-pointer transition-all duration-[.3s]">
        Contact </a>
      <div class="flex justify-center gap-4 mt-10">
        <input type="text" class="w-[20rem] p-2 rounded-lg" placeholder="Search a product..."
          style="max-width: 69vw; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);" />
        <button style="max-width: 20vw;"
          class=" flex items-center justify-center w-[5rem] bg-white text-black rounded-md hover:bg-blue-600 transition-all duration-[.5s]">
          <i class="fa-solid fa-magnifying-glass p-1 md:hidden text-black"></i>
        </button>
      </div>

  </nav>

    <header>
      <nav class="bg-blue-200 flex justify-between items-center p-2 md:px-24">
        <div class="flex items-center justify-center md:flex">
          <img src="./assets/img/logo-easy.png" alt="" class="w-16 md:w-[8.5rem]" />
        </div>

        <div class="md:w-[50%] flex justify-center gap-4">
          <input type="text" class="w-[80%]" />
          <button
            class="p-2 flex items-center justify-center md:p-3 bg-blue-900 text-white tracking-[2px] rounded-md hover:bg-blue-600 transition-all duration-[.5s]">
            <i class="fa-solid fa-magnifying-glass p-1 md:hidden"></i>
            <span class="hidden md:flex">SEARCH</span>
          </button>
        </div>

        <div id="hamburguesa_casera" @click="handleNavResponsive" class="flex flex-col gap-1 lg:hidden">
          <div class="w-8 h-1 bg-white"></div>
          <div class="w-8 h-1 bg-white"></div>
          <div class="w-8 h-1 bg-white"></div>
        </div>

        <div class="hidden items-center gap-6">
          <i class="fa-solid fa-heart fa-beat fa-xl cursor-pointer text-red-500"></i>
          <i class="text-2xl fa-solid fa-cart-shopping cursor-pointer"></i>
          <i class="text-2xl fa-solid fa-user cursor-pointer"></i>
        </div>
      </nav>

      <nav class="hidden lg:h-[4rem] bg-blue-900 lg:flex justify-center">
        <div class="flex justify-center items-center text-white w-[45%] tracking-[1px] transition-all">
          <a href="./index.html" class="hover:text-blue-300 cursor-pointer transition-all duration-[.3s]">
            Home
          </a>


          <p class="hover:text-blue-300 cursor-pointer transition-all duration-[.3s] ml-4">
            <div class="relative" data-te-dropdown-ref>
              <div class="cursor-pointer hover:text-blue-300" id="dropdownMenuButton1d"
                data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
                data-te-ripple-color="light">Categories</div>
              <ul
                class="pt-2 absolute z-[1000] gap-2 float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-blue-500 bg-clip-padding text-left text-base shadow-lg [&[data-te-dropdown-show]]:block"
                aria-labelledby="dropdownMenuButton1d" data-te-dropdown-menu-ref>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Tecnology">
                    <h2>Technology</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Appliance">
                    <h2>Appliance</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Furniture">
                    <h2>Furniture</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Health">
                    <h2>Health</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Audio">
                    <h2>Audio</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Video">
                    <h2>Video</h2>
                  </a>
                </li>
                <li class="hover:bg-blue-900 py-1 px-2">
                  <a href="./shop.html?filter=Kids">
                    <h2>Kids</h2>
                  </a>
                </li>
              </ul>
            </div>

          </p>
          <a href="./frecuents.html" class="hover:text-blue-300 cursor-pointer transition-all duration-[.3s] ml-4">
            Frecuent Questions
          </a>
          <a href="./about-us.html" class="hover:text-blue-300 cursor-pointer transition-all duration-[.3s] ml-4">
            About Us
          </a>
          <a href="./form.html" class="hover:text-blue-300 cursor-pointer transition-all duration-[.3s] ml-4">
            Contact </a>
        </div>
      </nav>
    </header>

    <main class="loginSection relative">
      <div class="absolute h-full w-full bg-black/40"></div>
      <div class="form-structor">
        <div class="signup">
          <h2 class="form-title" id="signup" @click="animationSignIn"><span>or</span>Sign up</h2>
          <div class="form-holder">
            <input type="text" class="input" placeholder="Name" v-model="name" />
            <input type="text" class="input" placeholder="Last Name" v-model="lastName" />
            <input type="email" class="input" placeholder="Email" v-model="email" />
            <input type="text" class="input" placeholder="Phone Number" v-model="tel" />
            <input type="password" class="input" placeholder="Password" v-model="password" />
          </div>
          <button class="submit-btn" @click="signUp">Sign up</button>
        </div>
        <div class="login slide-up">
          <div class="center">
            <h2 class="form-title" id="login" @click="animationLogin"><span>or</span>Log in</h2>
            <div class="form-holder">
              <input type="email" class="input" placeholder="Email" v-model="user" />
              <input type="password" class="input" placeholder="Password" v-model="password1" />
            </div>
            <button class="submit-btn" @click="login">Log in</button>
          </div>
        </div>
      </div>
      <div class="information hidden lg:flex">
        <div class="w-[80%] bg-blue-200/40 p-4 flex items-center justify-center rounded-lg z-20" style=" height: 450px;">
          <div
            class=" w-[90%] h-[100%] flex flex-col  gap-4 text-white rounded-2xl"
          >

            <h2 class="text-5xl tracking-[2px] text-shadow">Welcome to <span class="title_mark" >Easy Buy</span></h2>
            <p class="text-2xl">
              Looking for an easy and warm shopping experience for your home? Look no further than Easy Buy! 
              Our store offers a wide variety of household products, from furniture to decor, all in a cozy 
              and welcoming environment.
              <br/>
              Want to see our products before you commit? Check out our online shop! 
            </p>
            <div class="text-white flex justify-end items-end h-100">
              <a href="./shop.html">
                <div class="bg-blue-500 underline underline-offset-2 py-1 px-2 rounded-lg shadow cursor-pointer hover:bg-blue-300 ease-in	duration-200">See our shop ></div> 
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://kit.fontawesome.com/a9a67006ad.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4ffb8edd00.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./js/login.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
          theme: {
            extend: {
              colors: {
                "regal-blue": '#7795a3'
              }
            }
          }
        }
    </script>
  </body>
</html>