<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/admin.css">
  <title>Admin</title>
</head>

<body class="body">
  <div id="app">
    <header>
      <h3>Welcome admin, to the control section</h3>
    </header>
    <main>

      <!-- MODALES COMPLETOS1 -->
      <!-- MODAL Modify1-->



      <!-- Modal toggle -->


      <!-- Main modal -->
      <div id="authentication-modal-Client" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="authentication-modal-Client">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Modify a Client</h3>
              <form class="space-y-6" action="#">
                <div class="flex gap-2">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" v-model="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      placeholder="name@company.com" required>
                  </div>
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="text" id="text" placeholder="Name" v-model="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
                <div class="flex gap-2">
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                      Name</label>
                    <input type="text" name="text" id="text" placeholder="Last Name" v-model="lastName"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                    <input type="text" name="text" id="text" placeholder="Phone " v-model="tel"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
                
                <button type="submit" @click.prevent="handleEditClient" data-modal-hide="authentication-modal-Client"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Modify
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- MODAL  Modify1-->
      <!-- MODAL Modify2-->



      <!-- Modal toggle -->


      <!-- Main modal -->
      <div id="authentication-modal-Creatad-Client" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="authentication-modal-Creatad-Client">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create a Client</h3>
              <form class="space-y-6" action="#">
                <div class="flex gap-1">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" v-model="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      placeholder="name@company.com" required>
                  </div>
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="text" id="text" placeholder="Name" v-model="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
                <div class="flex gap-1">
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                      Name</label>
                    <input type="text" name="text" id="text" placeholder="Last Name" v-model="lastName"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                    <input type="text" name="text" id="text" placeholder="Phone" v-model="tel"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
                
                <div>
                  <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                  <input type="text" name="text" id="text" placeholder="Password" v-model="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required>
                </div>
                <button type="submit" @click.prevent="createClient"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- MODAL  Modify2-->
      <!-- MODAL DELETE -->



      <div id="popup-modal-Customers" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="popup-modal-Customers">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
              <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to change enable state of this
                client?</h3>
              <button data-modal-hide="popup-modal-Customers" type="button" @click="handleEnabledClient"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Yes, I'm sure
              </button>
              <button data-modal-hide="popup-modal-Customers" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No,
                cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL DELETE -->
      <!-- MODALES COMPLETOS1 -->
      <!-- MODALES COMPLETOS2 -->
      <!-- MODAL Modify1-->



      <!-- Modal toggle -->


      <!-- Main modal -->
      <div id="authentication-modal-Modify-Products" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="authentication-modal-Modify-Products">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Modify a product</h3>

              <form class="space-y-6" action="#">
                  <div>
                    <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="Name" id="Name" v-model="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      placeholder="Name" required>
                  </div>
               
                <div class="flex gap-2">
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input type="text" name="text" id="text" placeholder="Price"  v-model="price"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount</label>
                    <input type="text" name="text" id="text"  v-model="discount" placeholder="Discount "
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
               
                <div class="flex gap-2">
                  <div> 
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
                    <input type="text" name="text" id="text" placeholder="Stock"  v-model="stock"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categories</label>
                    <select id="text"   v-model="category" 
                      class="bg-gray-50 w-[12rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                      <option value="">Select a category</option>
                      <option value="KIDS">Kid</option>}
                      <option value="AUDIO">Audio</option>
                      <option value="VIDEO">Video</option>
                      <option value="TECNOLOGY">Tecnology</option>
                      <option value="APPLIANCE">Appliance</option>
                      <option value="FURNITURE">Furniture</option>
                      <option value="HEALTH">Health</option>
                    </select>
                  </div>
                </div>

                <div>
                  <label for="text"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea  v-model="description" name="text" id="text" placeholder="Description"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required></textarea>
                </div>
                
                <button
                  data-modal-hide="authentication-modal-Modify-Products"
                  @click.prevent="edit" 
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Modify
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- MODAL  Modify1-->
      <!-- MODAL Modify2-->



      <!-- Modal toggle -->


      <!-- Main modal -->
      <div id="authentication-modal-Created-Products" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="authentication-modal-Created-Products">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create a product</h3>
                <form class="space-y-6" action="#">
                  <div>
                    <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="Name" id="Name" v-model="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      placeholder="Name" required>
                  </div>
               
                <div class="flex gap-2">
                  <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input type="text" name="text" id="text" placeholder="Price"  v-model="price"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount</label>
                    <input type="text" name="text" id="text"  v-model="discount" placeholder="Discount "
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                </div>
               
                <div class="flex gap-2">
                  <div> 
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
                    <input type="text" name="text" id="text" placeholder="Stock"  v-model="stock"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                  </div>
                  <div>
                    <label for="text"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categories</label>
                    <select id="text"   v-model="category" 
                      class="bg-gray-50 w-[12rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required>
                      <option value="">Select a category</option>
                      <option value="KIDS">Kid</option>}
                      <option value="AUDIO">Audio</option>
                      <option value="VIDEO">Video</option>
                      <option value="TECNOLOGY">Tecnology</option>
                      <option value="APPLIANCE">Appliance</option>
                      <option value="FURNITURE">Furniture</option>
                      <option value="HEALTH">Health</option>
                    </select>
                  </div>
                </div>

                <div>
                  <label for="text"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea  v-model="description" name="text" id="text" placeholder="Description"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required></textarea>
                </div>
                
                <button
                  data-modal-hide="authentication-modal-Created-Products"
                  @click.prevent="createProduct" 
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Create
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- MODAL  Modify2-->
      <!-- MODAL DELETE -->



      <div id="popup-modal-Products" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="popup-modal-Products">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
              <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to desactive this
                product?</h3>
              <button data-modal-hide="popup-modal-Products" type="button" @click="deleteProduct"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Yes, I'm sure
              </button>
              <button data-modal-hide="popup-modal-Products" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No,
                cancel</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Main modal -->
      <div id="defaultModal-photos" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-4xl md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex w-full  justify-between p-4 border-b rounded-t dark:border-gray-600">

            

              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Edit Product Photos
              </h3>
              
              <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="defaultModal-photos">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>

              
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">

              <div class="flex gap-2">
                <template v-for="(img, index) of getImgsProductById()">
                  <div class="relative">
                    <button
                      @click="deleteImg(img)"
                      class="absolute text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </button>
                    <img :src="img" :alt="'image-' + index" style="width: 200px;">
                  </div>
                 

                </template>
                
              </div>

              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload
                file</label>
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                aria-describedby="user_avatar_help" id="user_avatar" type="file" multiple @change="addPic"
                accept="image/png,image/jpeg">


            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button data-modal-hide="defaultModal-photos" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                @click="addPhotos">I
                accept</button>
              <button data-modal-hide="defaultModal-photos" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL UP IMAGES -->

      <section class="section-tabla">
        <h1 class="h1">Table to delete, modify and create customers</h1>
        <div class=" text-white text-center">
          <h4>Search your client...</h4>

          <div class="flex gap-2 mt-2">
            <input class="text-black rounded-lg p-1" type="text" class="p-1 rounded-lg" placeholder="search..." @input="handleSearchClient" v-model="searchClient">
            <button class="p-2 bg-blue-500 hover:bg-blue-400 rounded-lg text-white">search</button>
          </div>

        </div>
        <div class="relative" style="height: 400px; width: 950px; max-width: 90vw; background-color: #000000af; margin-top: 20px; overflow: auto;">
          <table class="tbl-header" cellpadding="0" cellspacing="0">
            <thead class="sticky top-0 bg-black">
              <tr>
                <th style="width: 150px;">Name</th>
                <th style="width: 150px;">Last Name</th>
                <th style="width: 250px;">Email</th>
                <th style="width: 100px;">Phone</th>
                <th style="width: 70px;">Status</th>
                <th style="width: 100px;"></th>
                <th style="width: 100px;"></th>
              </tr>
            </thead>
            <tbody class="tbl-content">
              <tr v-if="clients.length" v-for="client of filteredClients">
                <td style="color: white; min-width: 150px;">{{client.name}}</td>
                <td style="color: white; min-width: 150px;">{{client.lastName}}</td>
                <td style="color: white; min-width: 250px;">{{client.email}}</td>
                <td style="color: white; min-width: 150px;">{{client.tel}}</td>
                <td :style="{color: client.isEnabled ? 'green' : 'red'}">{{client.isEnabled ? "enabled" : "disabled"}}</td>
                <td style="color: white;">
                  <button data-modal-target="popup-modal-Customers"
                          data-modal-toggle="popup-modal-Customers"
                          class="flex justify-center" 
                          @click="clientId(client.id)">
                          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12V3ZM8.6092 5.8744C9.09211 5.60643 9.26636 4.99771 8.99839 4.5148C8.73042 4.03188 8.12171 3.85763 7.63879 4.1256C4.87453 5.65948 3 8.61014 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 8.66747 19.1882 5.75928 16.5007 4.20465C16.0227 3.92811 15.4109 4.09147 15.1344 4.56953C14.8579 5.04759 15.0212 5.65932 15.4993 5.93586C17.5942 7.14771 19 9.41027 19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 9.3658 6.45462 7.06997 8.6092 5.8744Z" fill="white"/>
                            </svg>
                  </button>
                </td>
                <td style="width: 150px;">
                  <button data-modal-target="authentication-modal-Client" 
                          data-modal-toggle="authentication-modal-Client" 
                          @click="setClientToEdit(client)"
                          class="Modify" type="button"><i
                          class="fa-solid fa-pencil"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button data-modal-target="authentication-modal-Creatad-Client"
                data-modal-toggle="authentication-modal-Creatad-Client" 
                class="button-created bg-blue-500 w-[10rem] p-2 hover:bg-blue-400" 
                type="button">
                <i class="fa-regular fa-square-plus"></i> 
                Create client</button>

      </section>
      <section class="section-tabla">
        <h1 class="h1">Table to delete, modify and create products</h1>
        <div class="pt-4">

          <h4 class="text-white text-center text-1xl mb-2">Search your product...</h4>

          <div class="flex gap-2">
            <input type="text" class="p-1 rounded-lg" placeholder="search..." @input="handleSearchProduct" v-model="searchProduct">
            <button class="p-2 bg-blue-500 hover:bg-blue-400 rounded-lg text-white">search</button>
          </div>
        </div>
          <div style="height: 400px; width: 1050px;  max-width: 90vw; background-color: #000000af; margin-top: 20px; overflow: auto;">
            <table   cellpadding="0" cellspacing="0" style="overflow: auto;">
              <thead class="sticky top-0 bg-black">
                <tr>
                  <th style="width: 220px">Name</th>
                  <th style="width: 90px">Price</th>
                  <th style="width: 70px">Stock</th>
                  <th style="width: 70px">Discount</th>
                  <th style="width: 120px">Categories</th>
                  <th style="width: 70px">Status</th>
                  <th style="width: 120px"></th>
                  <th style="width: 120px"></th>
                  <th style="width: 120px"></th>
                </tr>
              </thead>
              <tbody  class="tbl-content">
                <tr v-for="product of filteredProducts">
                  <td style="color: white; width: 300px;">{{product.name}}</td>
                  <td style="color: white;">{{product.price}}</td>
                  <td style="color: white;">{{product.stock}}</td>
                  <td style="color: white;">{{product.discount}}</td>
                  <td style="color: white;">{{product.categoriesEnums[0]}}</td>
                  <td :style="{color: product.status ? 'green' : 'red'}">{{product.status ? "actived" : "desactived"}}</td>
                  <td style="color: white;">
                    <button data-modal-target="popup-modal-Products"
                            data-modal-toggle="popup-modal-Products"
                            class="flex justify-center" 
                            @click="productId(product.id)">
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12V3ZM8.6092 5.8744C9.09211 5.60643 9.26636 4.99771 8.99839 4.5148C8.73042 4.03188 8.12171 3.85763 7.63879 4.1256C4.87453 5.65948 3 8.61014 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 8.66747 19.1882 5.75928 16.5007 4.20465C16.0227 3.92811 15.4109 4.09147 15.1344 4.56953C14.8579 5.04759 15.0212 5.65932 15.4993 5.93586C17.5942 7.14771 19 9.41027 19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 9.3658 6.45462 7.06997 8.6092 5.8744Z" fill="white"/>
                              </svg>
                    </button>
                  </td>
                  <td>
                    <button data-modal-target="authentication-modal-Modify-Products"
                            data-modal-toggle="authentication-modal-Modify-Products" 
                            class="Modify"
                            @click="editProduct(product)">
                            <i class="fa-solid fa-pencil"></i></button>
                  </td>
                  <td style="color: white;"><button data-modal-target="defaultModal-photos"
                      data-modal-toggle="defaultModal-photos" class="button-created" type="button"
                      @click="productId(product.id)"><i class="fa-regular fa-square-plus"></i> Photos</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        <button data-modal-target="authentication-modal-Created-Products" @click="clearForm"
          data-modal-toggle="authentication-modal-Created-Products" class="button-created bg-blue-500 w-[10rem] p-2 hover:bg-blue-400"  type="button"><i
            class="fa-regular fa-square-plus"></i> Create Products</button>
      </section>
      
    </main>
    <div    v-if="messageAlert.message" 
          :class="{'bg-green-500' : !messageAlert.isError, 'bg-red-500' : messageAlert.isError, 'text-white': messageAlert.isError}"
          class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-2 p-4 rounded-lg animationAlertMessage">
          <p>{{messageAlert.message}}</p>   
    </div>
  </div>
  <script src="https://kit.fontawesome.com/a9a67006ad.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4ffb8edd00.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/js/admin.js"></script>
</body>

</html>